/* @media screen and (min-width: 320px) { */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #ffc017;
  box-sizing: border-box;
}
header svg {
  display: none;
}
.navbar {
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  align-items: baseline;
  position: relative;
  z-index: 1;
}
/* .navbar img {
    width: 30%;
  } */

.get-started a {
  background-color: #191919;
  color: white;
  border-radius: 25px;
  padding: 5px;
}
ul {
  display: flex;
  list-style-type: none;
  gap: 5px;
}

ul li a {
  color: #191919;
  padding: 2vh;
  text-decoration: none;
}

/* ul li a:hover {
    background-color: #111111;
  } */

.none {
  display: none;
}
hr {
  margin: 0;
  border: 0.5px solid #191919;
  height: 1px;
}

.curios {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 10px;
  max-width: 100%;
}
.curios h1 {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-size: 3em;
}
.curios h2 {
  white-space: normal;
}
.curios button {
  background-color: #191919;
  color: white;
  border-radius: 25px;
  padding: 5px 30px;
}
.curios button a {
  text-decoration: none;
  color: white;
}
/* MAIN */
.container-articolo {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding: 5%;
  gap: 10px;
}

.trend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
  gap: 5px;
  margin-top: 5%;
  margin-left: 5%;
}

.trend img {
  width: 20px;
}

.article {
  display: flex;
  gap: 20px;
}

.article h1 {
  font-size: 25px;
  color: #e6e7e7;
  font-weight: bold;
}

.cont-propic {
  display: flex;
  gap: 5px;
  align-items: center;
}

.cont-propic h4 {
  font-size: 8px;
  font-weight: 600;
}

.cont-propic img {
  border-radius: 50%;
  object-fit: cover;
  width: 20px;
}
b {
  font-weight: bold;
}

.date {
  display: flex;
  justify-content: space-between;
}
.cont-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.light-text {
  font-weight: 200;
  font-size: 10px;
}

.all-article {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
/* DISCOVER MORE */

.container-discover {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5%;
}

.bg-no {
  background-color: transparent;
  color: grey;
  border: 1px solid grey;
  padding: 5px;
}

.bg-no p {
  font-size: 12px;
}

#h2-discover {
  margin-top: 50px;
  margin-bottom: 20px;
}
main hr {
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background-color: #ccc;
  border: 0;
}

.topics-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.help-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.help-container p {
  color: grey;
  font-size: 12px;
}
/* articoli */

.container-div {
  display: flex;
  gap: 1%;
  max-width: 300px;
  flex: 2;

  padding-bottom: 20px;
  justify-content: space-between;
}

.destra {
  width: 100%;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  flex: 1;
}

.sinistra {
  max-width: 300px;
  flex: 2;
}

.destra img {
  width: 100%;

  display: block;
  height: 100%;
  object-fit: contain;
}

.bookmark-divisor {
  flex-direction: row;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
}

.cont-article p {
  font-size: 0.6rem;
}

.cont-article p b {
  font-size: 0.5rem;
  color: #000;
}

.cont-flex {
  margin: 5%;
}

.data-articolo {
  display: flex;
  align-items: center;
}

.data-articolo button {
  background-color: rgb(217, 217, 217);
  color: #191919;
  border-radius: 25px;
  border: 0;
  font-size: 10px;
}

.data-articolo a {
  text-decoration: none;
  color: #191919;
}

.bookmark-divisor img {
  width: 10%;
}

/* } */
/* TABLET */
@media screen and (min-width: 481px) {
  .none {
    display: block;
  }
  .navbar {
    font-size: 14px;
    padding: 8px 15px;
  }

  .get-started a {
    display: inline-block;
  }

  ul {
    gap: 2px;
  }

  header svg {
    display: block;
  }
  .container-curios {
    display: flex;
    max-height: 300px;
    overflow: hidden;
    position: relative;
  }
  .container-curios svg {
    flex: 1;
  }
  .curios {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 0;
    flex: 2;
  }

  .container-articolo {
    padding: 10px;
    width: 40%;
    padding: 0;
    box-sizing: border-box;
  }

  .all-article {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .article {
    box-sizing: border-box;
    flex: 0 0 calc(50% - 10px);
    max-width: 300px;
  }

  .trend {
    margin-left: 25px;
  }
  .cont-propic h4 {
    font-size: 14px;
    font-weight: 600;
  }
}

/* DESKTOP */
@media screen and (min-width: 1025px) {
  .none {
    display: block;
  }
  .navbar {
    font-size: 16px;
    padding: 20px 150px;
  }
  header svg {
    display: block;
  }
  .container-curios {
    font-size: 30px;
    justify-content: space-around;
    padding-left: 150px;
  }

  .curios {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .container-articolo {
    padding: 0;
    margin: 0 0;
    width: 25%;

    box-sizing: border-box;
  }
  .all-article {
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    gap: 10px;
  }
  .article {
    flex: 0 0 calc(33.333% - 13.33px); /* 3 per riga con gap */
    max-width: 100%;
  }
  .trend {
    margin-top: 5%;
    margin-left: 8%;
  }

  main hr {
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background-color: #ccc;
  }
  .container-flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin: 1%;
  }

  .topics-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .container-discover {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    justify-content: flex-start;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
    flex: 1;
  }

  #h2-discover {
    margin-top: 0;
    margin-bottom: 20px;
    display: block;
    font-size: 12px;
  }
  .data-articolo {
    display: flex;
  }

  .data-articolo button {
    background-color: rgb(217, 217, 217);
    color: #191919;
    border-radius: 25px;
    border: 0;
  }

  .data-articolo a {
    text-decoration: none;
    color: #191919;
  }

  .container-div {
    display: flex;
    gap: 2rem;
    max-width: 800px;
    flex: 2;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  .destra {
    width: 100%;
    max-width: 300px;
    height: auto;
    overflow: hidden;
  }

  .destra img {
    width: 100%;

    display: block;
    height: 100%;

    object-fit: cover;
  }

  .cont-article p {
    margin: 0.5rem 0;
    font-size: 1rem;

    color: #333;
  }
  .cont-article p b {
    font-size: 1.2rem;
    color: #000;
  }

  .bookmark-divisor {
    display: flex;
    justify-content: space-between;
  }
}
